<h1>Editando tarea</h1>

<%= render 'form' %>

<%= link_to 'Ver', proyecto_userstory_tarea_path(@proyecto, @us, @tarea) %> |
<%= link_to 'Volver a User Story', proyecto_userstory_path(@proyecto, @us) %>
